@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: grey;

$card-content-background-color: #ffffcc66;

h2{
    text-decoration: underline
}

@import "~bulma/bulma.sass";